@import "./satoshi.css";
@import "./tailwind.css";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  /* font-family: "Satoshi-Medium"; */
  background: #000;
  color: #e6e6e6;

}
.btn{
  font-size: 16px;
  background: linear-gradient(265.56deg,#2962ff -.27%,#1e68f6 -.26%,#0047d0 98.59%);
  color: #fff;
  padding: 10px 20px;
  border-radius: 30px;
}